
.DS_Store
scraper/.DS_Store
resources/.DS_Store
code/wandb/*
wandb/*
notebooks/.ipynb_checkpoints/connecting_to_S3-checkpoint.ipynb
notebooks/.ipynb_checkpoints/1_scraper-checkpoint.ipynb
notebooks/.ipynb_checkpoints/0_connecting_to_S3-checkpoint.ipynb
notebooks/.ipynb_checkpoints/scraper-checkpoint.ipynb
notebooks/.ipynb_checkpoints/scraper-checkpoint.ipynb
notebooks/.ipynb_checkpoints/scraper-checkpoint.ipynb
.ipynb_checkpoints/environment-checkpoint.yml
notebooks/.ipynb_checkpoints/3_POS_and_Freq_Dicts-checkpoint.ipynb
notebooks/.ipynb_checkpoints/5_context_window-checkpoint.ipynb
data/*
model/*
*.png
*.csv
*.txt
*.Rhistory
*.model
*.bin
*.pkl
*.json
runs/
*.bib